/**
 * ToastTV Styles - Entry Point
 *
 * Imports all CSS modules. Edit individual files in css/
 */

@import "./css/base.css";
@import "./css/dashboard.css";
@import "./css/library.css";
@import "./css/settings.css";
